/* BestCategory */
.bestCategory{
  width: calc(1100px - 1*4px);
  margin: 50px auto 20px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap:1px;
}
.bestCategory li{
  box-shadow:0 0 0 1px #ccc;
  text-align: center;
}
.bestCategory li a{
  display: inline-block;
  padding: 14px 0;
  height: 100%;
  font-weight: 700;
  font-size: 1.1rem;
}
/* BestBanner */
.bestBanner{
  margin: 0 auto;
  margin-bottom: 40px;
  width: 1100px;
  height: 200px;
}
.bestBanner img{
  width: 100%;
}

main{
  width: 1100px;
  margin: 0 auto;
}
/* itemList */
main .itemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .itemList .item{
  margin-bottom: 40px;
  height: 632px;
  width: 338px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
main .itemList .item .item__rank{
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
}
main .itemList .item .item__rank span{
  font-weight: 800;
}
main .itemList .item .item__rank .rank__underline{
  width: calc(100% + 5px);
  height: 8px;
  background-color:#F9D983;;
  position: absolute;
  bottom: 1px;
  z-index: -1;
}
main .itemList .item .item__img{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
main .itemList .item .item__img img{
  width: 100%;
  height: 100%;
}
main .itemList .item .item__img .img__badge{
  border: 1px solid #66BBA7;
  font-size: 0.9rem;
  color: #66BBA7;
  padding: 2px 13px;
  background-color: rgba( 255, 255, 255, 0.7 );
  position: absolute;
  bottom: 5px;
  left: 5px;
}

main .itemList .item .item__title p{
  color: gray;
  font-size: 1.1rem;
}
main .itemList .item .item__title h1{
  margin-top: 7px;
  font-weight: bold;
  font-size: 1.3rem;
}
main .itemList .item .item__bottom{
  width: 100%;
  position: absolute;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .itemList .item .item__bottom .item__price{
  font-weight: bolder;
  font-size: 1.5rem;
}
main .itemList .item .item__bottom .item__shoppingcart{
  font-size: 1.5rem;
  background-color: #ccc;
  color: white;
  padding: 15px;
  border-radius: 50%;
}
main .itemList .item .item__value{
  width: 100%;
  position: absolute;
  bottom: 17px;
  border: 1px solid #918C01;
  border-left: none;
  border-radius: 20px;
  color: gray;
  
}
main .itemList .item .item__value i{
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  background-color: #918C01;
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 3px; 
}