/* itemImgAndInfo */
.itemImgAndInfo{
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
}
.itemImgAndInfo .itemImgArea .itemImg{
  width: 550px;
  height: 550px;
}
.itemImgAndInfo .itemImgArea .itemImg img{
  width: 100%;
  height: 100%;
}
.itemImgAndInfo .itemInfoArea{
  width: 550px;
  padding: 10px;
  margin-left: 20px;
}
.itemImgAndInfo .itemInfoArea .info__title{
  padding-bottom: 15px;
  border-bottom: 1.5px solid black;
}
.itemImgAndInfo .itemInfoArea .info__title .subtitleAndLike{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemImgAndInfo .itemInfoArea .info__title .subtitleAndLike {
  font-size: 1.2rem;
  color: gray;
}
.itemImgAndInfo .itemInfoArea .info__title .subtitleAndLike i{
  font-size: 1.7rem;
}
.itemImgAndInfo .itemInfoArea .info__title .title{
  font-size: 1.8rem;
  font-weight: 800;
  margin: 10px 0 5px 0;
}
.itemImgAndInfo .itemInfoArea .info__title .origin{
  font-size: 1.7rem;
}
.itemImgAndInfo .itemInfoArea .info__price{
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.itemImgAndInfo .itemInfoArea .info__price .discountRate{
  color: #FF8A2F;
  font-size: 1.7rem;
}
.itemImgAndInfo .itemInfoArea .info__price .discountPrice{
  font-size: 1.75rem;
  font-weight: 800;
  padding: 0 10px 0 20px;
}
.itemImgAndInfo .itemInfoArea .info__price .originPrice{
  text-decoration: line-through;
  color: gray;
}
.itemImgAndInfo .itemInfoArea .info__flex{
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.itemImgAndInfo .itemInfoArea .info__flex .head{
  width: 120px;
}
.itemImgAndInfo .itemInfoArea .info__flex .tail{
  width: calc(100% - 120px);
}
.itemImgAndInfo .itemInfoArea .info__delivery .tail{
  color: #818181;
  font-weight: 600;
}
.itemImgAndInfo .itemInfoArea .info__delivery .tail .delivery__badge{
  display: inline-block;
  color: black;
  border : 1px solid black;
  border-radius: 15px;
  font-size: 0.8rem;
  padding: 5px;
  margin-right: 10px;
}
.itemImgAndInfo .itemInfoArea .info__delivery .tail .arrival__date{
  color: black;
  font-weight: 800;
}
.itemImgAndInfo .itemInfoArea .info__deliveryPrice .tail span{
  font-weight: 700;
}
.itemImgAndInfo .itemInfoArea .info__seller{
  width: 100%;
  border-bottom: none;
}
.itemImgAndInfo .itemInfoArea .info__seller .tail{
  display: flex;
  justify-content: space-between;
}
.itemImgAndInfo .itemInfoArea .info__seller .tail .seller__tel{
  color: gray;
}
.itemImgAndInfo .itemInfoArea .info__seller .tail .seller__tel .tel{
  color: black
}
.itemImgAndInfo .itemInfoArea .info__btns{
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}
.itemImgAndInfo .itemInfoArea .info__btns li{
  width: 100%;
}
.itemImgAndInfo .itemInfoArea .info__btns li a{
  width: auto;
  height: 60px;
  display: block;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  line-height: 60px;
}
.itemImgAndInfo .itemInfoArea .info__btns li.btn__addShoppingcart{
  color: #918C01;
  border: 1px solid #918C01;
}
.itemImgAndInfo .itemInfoArea .info__btns li.btn__order{
  color: white;
  background-color: #918C01;
}
/* InfoTabs */
.infoTabs{
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  border-bottom: 3px solid #918C01;
}
.infoTabs .infoTab{
  width: 100%;
  height: 55px;
  background-color: #EAEAEA;
  text-align: center;
  line-height: 55px;
  font-size: 1.3rem;
  color: #666;
  font-weight: 700;
}
.infoTabs .infoTab:last-child{
  border-right: none;
}

/* item__info */
.item__info{
  margin: 0 auto;
  width: 700px;
}
/* info__value */
.item__info .info__value{
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 50px;
}
.item__info .info__value .value__title{
  font-size: 2.5rem;
  font-weight: 800;
}
.item__info .info__value .value__title i{
  color:#918C01 ;
  display: inline-block;
  margin-right: 10px;
}
.item__info .info__value .value__itemName{
  margin: 20px 0;
  font-weight: 700;
  color: #918C01;
  font-size: 1.45rem;
}
.item__info .info__value .value__icons{
  display: flex;
  justify-content: center;
}
.item__info .info__value .value__icons span{
  margin-top: 10px;
  display: inline-block;
  color: #777;
  font-size: 1rem;
  word-break: keep-all;
  word-wrap: break-word;
  width: 86px;
}
/* info__simple */
.item__info .info__simple{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 80px;
}
.item__info .info__simple .simple__icons{
  padding: 15px 20px;
  display: flex;
}
.item__info .info__simple .simple__icons li{
  font-size: 0.9rem;
  text-align: center;
}
.item__info .info__simple .simple__icons li .simple__icon{
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}
.item__info .info__simple .simple__icons li .simple__icon img{
  width: 100%;
}
.item__info .info__simple .simple__flex{
  display: flex;
  padding: 20px 0;
  border-top : 1px solid #ccc
}
.item__info .info__simple .head{
  width: 80px;
}
.item__info .info__simple .tail{
  font-weight: 800;
}
/* info__intro */
.item__info .info__intro{
  letter-spacing: 2px;
  line-height: 2.2rem;
  font-size: 1.8rem;
  margin-bottom: 100px;
}
/* infoImg*/
.item__info .item__img{
  width: 100%;
}
.item__info  .item__area{
  margin-top: 80px;
}
.item__info  .item__area .info__header{
  margin-bottom: 40px;
}
.item__info  .item__area .info__header h1{
  line-height: 0.1rem;
  border-bottom: 1px solid #000; 
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.item__info  .item__area .info__header h1 span{
  background:#fff; 
  padding-right: 40px;
}
.item__info  .item__area .info__header p{
  font-size: 1.4rem;
  color: #777;
}