/* cateWithImgArea */
.cateWithImgArea{
  width: 900px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cateWithImgArea .cateTitle{
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.cateWithImgArea .cateWithImgList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}
.cateWithImgArea .cateWithImgList li{
  background-color: #F5F5F5;
  border-radius: 50%;
  margin: 0 10px 25px;
  text-align: center;
}
.cateWithImgArea .cateWithImgList li.active{
  background-color: #918C01;
  color: white;
}
.cateWithImgArea .cateWithImgList li:hover{
  background-color: #918C01;
  color: white;
}
.cateWithImgArea .cateWithImgList li a{
  width: 115px;
  height: 115px;
  display: table;
  font-size: 1.1rem;
}
.cateWithImgArea .cateWithImgList li a span{
  display: inline-block;
  margin-top: 20px;
  padding: 0 10px;
  vertical-align: middle;
  word-break: keep-all;
}
.cateWithImgArea .cateWithImgList li a i{
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 6px;
  background-image: url(../img/item_list/category_icon.png);
  background-repeat: no-repeat;
  background-size: 300%;
}

.cateWithImgArea .subcateList{
  display: flex;
  margin: 30px 0;
}
.cateWithImgArea .subcateList li{
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  margin-right: 10px;
}
.cateWithImgArea .subcateList li a{
  padding: 15px 20px;
  display: inline-block;
}
.cateWithImgArea .subcateList li a.active{
  color: white;
  background-color: #918C01;
  border-radius: 30px;
}
.cateWithImgArea .subcateList li:hover a{
  border-color: #918C01;
  color: #918C01;
  font-weight: 700;
}

.cate__divider{
  border-top: 1px solid #ccc;
}
.discnt_rate {
	color: orange;
	font-weight: 700;
	font-size: 1.1rem;
}
.origin_prcie{
	text-decoration: line-through;
}

main{
  width: 1110px;
  margin: 0 auto;
}
/* countAndFilter */
main .countAndFilter{
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .countAndFilter .filter__window{
  display: none;
  padding: 40px;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  background-color: white;
  z-index: 100;
  border-top: 3px solid #918C01;
  box-shadow: 10px 10px 10px 5px #f5f5f5;
}
main .countAndFilter .filter__window .filter__close{
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 1.5rem;
}
main .countAndFilter .filter__window .filter__header{
  padding: 20px 0;
  display: flex;
  font-size: 1rem;
  color: gray;
  border-bottom: 1px solid #ccc;
}
main .countAndFilter .filter__window .filter__header h1{
  margin-right: 20px;
  color: black;
  font-weight: 700;
  font-size: 1.4rem;
}
main .countAndFilter .filter__window .filter__section{
  margin: 20px 0;
}
main .countAndFilter .filter__window .filter__section p{
  padding: 20px 0;
  font-weight: 700;
  font-size: 1.2rem;
}
main .countAndFilter .filter__window .filter__section ul{
  display: flex;
  flex-wrap: wrap;
}
main .countAndFilter .filter__window .filter__section ul li{
  cursor: pointer;
  margin: 0px 5px 7px 0px;
  width: 94px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  font-size: 1.1rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 30px;
}
main .countAndFilter .filter__window .filter__section ul li.active{
  background-color: #918C01;
  color: white;
}
main .countAndFilter .filter__window .filter__btn{
  justify-content: center;
  display: flex;
}
main .countAndFilter .filter__window .filter__btn div{
  cursor: pointer;
  width: 220px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 1.2rem;
}
main .countAndFilter .filter__window .filter__btn .filter__reset{
  border: 1px solid #ccc;
}
main .countAndFilter .filter__window .filter__btn .filter__reset i{
  display: inline-block;
  margin-right: 5px;
}
main .countAndFilter .filter__window .filter__btn .filter__submit{
  background-color: #918C01;
  color: white;
}
main .countAndFilter .count{
  font-size: 1.1rem;
}
main .countAndFilter .count span{
  color: gray;
}
main .countAndFilter .filter{
  display: flex;
  font-size: 1.15rem;
  align-items: center;
}
main .countAndFilter .filter> * {
  margin-right: 15px;
}
main .countAndFilter .filter .soldoutRadio i{
  color: #ccc;
}
main .countAndFilter .filter .sortDropdown select{
  min-height: 42px;
  padding: 0 47px 0 14px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
}
main .countAndFilter .filter .sortDropdown select option{
  display: block;
  padding: 0 2px 1px;
}
main .countAndFilter .filter .filterBtn{
  background-color: #918C01;
  color: white;
  padding: 12px 27px;
  font-size: 1.1rem;
}

/* itemList */
main .itemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .itemList .item{
  margin-bottom: 45px;
  height: 578px;
  width: 338px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
main .itemList .item .item__img{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
main .itemList .item .item__img img{
  width: 100%;
  height: 100%;
}
main .itemList .item .item__img .img__badge{
  border: 1px solid #66BBA7;
  font-size: 0.9rem;
  color: #66BBA7;
  padding: 2px 13px;
  background-color: rgba( 255, 255, 255, 0.7 );
  position: absolute;
  bottom: 5px;
  left: 5px;
}

main .itemList .item .item__title p{
  color: gray;
  font-size: 1.1rem;
}
main .itemList .item .item__title h1{
  margin-top: 7px;
  font-weight: bold;
  font-size: 1.3rem;
}
main .itemList .item .item__bottom{
  width: 100%;
  position: absolute;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .itemList .item .item__bottom .item__price{
  font-weight: bolder;
  font-size: 1.5rem;
}
main .itemList .item .item__bottom .item__shoppingcart{
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #ccc;
  color: white;
  padding: 15px;
  border-radius: 50%;
}
main .itemList .item .item__value{
  width: 100%;
  position: absolute;
  bottom: 17px;
  border: 1px solid #918C01;
  border-left: none;
  border-radius: 20px;
  color: gray;
}
main .itemList .item .item__value i{
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  background-color: #918C01;
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 3px;
}

/* paging*/
main .pagingArea {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main .pagingArea .paging{
  display: flex;
}
main .pagingArea .paging li a{
  display: block;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  margin: 0 3px;
} 