#loading {
   width: 100vw;
   height: 150vw;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
margin-top: 300pt;
        height: 100pt;
        width: 100pt;
        border-radius: 50%; 
}