/* main */
main{
  width: 750px;
  margin: 80px auto;
}
main .main__header{
  text-align: center;
  font-size: 2.1rem;
  font-weight:900;
  margin: 50px;
}
main .main__content{
  border-top: 3px solid black;
}
main .main__content .content__header{
  font-size: 1.2rem;
  font-weight: 700;
  padding: 32px 0;
}
main .main__content .content__body{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0  30px 0;
}
main .main__content .content__body .input__flex{
  display: flex;
  margin: 10px 0;
}
main .main__content .content__body .input__flex .head{
  width: 130px;
  line-height: 45px;
}
main .main__content .content__body .input__flex .tail input{
  height: 45px;
  border: 1px solid #ccc;
  width: 450px;
  padding-left: 15px;
  font-size: 1.1rem;
}
main .main__content .content__body .input__flex .tail p{
  color: gray;
  padding: 10px 0;
  font-size: 0.97rem;
}
main .main__content .content__body .input__flex .tail .checkBtn{
  display: inline-block;
  width: 150px;
  height: 45px;
  background-color: #918C01;
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 1.1rem;
  margin-left: 10px;
  cursor: pointer;
}
main .main__content .content__body .email__input,
main .main__content .content__body .birth__input,
main .main__content .content__body .gender__input{
  margin-top: 20px;
}
main .main__content .content__body .email__input .tail input{
  width: 140px;
}
main .main__content .content__body .email__input .tail select{
  margin-left: 10px;
  width: 140px;
  height: 45px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  padding-left: 15px;
}
main .main__content .content__body .gender__input .head{
  line-height: normal;
}
main .main__content .content__body .gender__input .tail{
  display: flex
}
main .main__content .content__body .gender__input .tail>div{
  margin-right: 20px;
  line-height: 1.3rem;
}
main .main__content .content__body .gender__input .tail>div i {
  color: #ccc;
  display: inline-block;
  margin-right: 10px;
  font-size: 1.3rem;
}
main .main__content .content__body .gender__input .tail>div i.active{
  color: #918C01;
}
main .main__btns{
  margin: 50px 0;
  display: flex;
}
button{
  border: none;
}
main .main__btns > div,
main .main__btns > button{
  margin: 0;
  display: block;
  width: 375px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 1.1rem;
  font-weight: 900;
}
main .main__btns .signup__cancel{
  border: 1px solid #918C01;
}
main .main__btns .signup__submit{
  background-color:#918C01;
  color: white;
}