/* MAIN*/
main{
  width: 750px;
  margin: 70px auto 200px auto;
}
main .main__haeder {
  text-align: center;
  font-size: 2.1rem;
  font-weight:900;
  margin-bottom: 50px;
}
main .main__content{
  border-top: 3px solid black;
}
main .main__content i{
  display: block;
  text-align: center;
  margin: 40px 0;
  font-size: 3rem;
  color: #918C01;
}
main .main__content > p{
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
}
main .main__content > p span{
  color: #918C01;
}
main .main__content .content__divider{
  margin: 30px auto;
  height: 1px;
  width: 600px;
  background-color: #ccc;
}
main .main__content .content__desc{
  margin-bottom: 50px;
}
main .main__content .content__desc > p{
  text-align: center;
  margin-bottom: 10px;
}
main .main__content .content__desc > p span{
  font-weight: 700;
}
main .main__content .content__btn{
	cursor: pointer;
  margin: 0 auto;
  background-color: #918C01;
  width: 300px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: white;
  font-weight: 600;
}